.result-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.result-container > img {
    flex: 1;
    object-fit: cover;
    height: 250px;
    width: 100%;
}
